# Carbon Intensity APIs

# Database Connection
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

# Scheduler
SCHEDULER_TICK_SECONDS=30
PLANNER_TICK_INTERVAL_SECONDS=1800

# Executor
EXECUTOR_POLL_SECONDS=15